<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>Tealeaf Academy Todo</h3>
    </div>
    <div class="col-xs-6">
      <h3>Sample Text Here </h3>
    </div>
  </div>

  	<h1> Subreddit Digests </h1>
	<table class="table table-striped">
	<% @entriesArray.first(10).each do |entry| %>
		<tr>
			<td><%= entry.title %></td>
			<% if entry.link.start_with?('/r') %>
				<td><%= link_to "Link", "https://www.reddit.com" + entry.link %></td>
			<% else %>
				<td><%= link_to "Photo", entry.link %></td>
			<% end %>
		</tr>
	<% end %>
	</table>

	<% @subreddits.each do |subreddit| %>
		<input class="btn btn-default" type="button" value=<%= subreddit.subreddit %>>
	<% end %>
</div>