<div id="main-container" class="container">
	<div class="row reddit-module">
		<%= react_component("RedditViewTable", {entries: @entriesArray, subreddits: @subreddits}) %>
	</div>
	<div class="notes-module">
		<div class="row">
			<div class="col-xs-12">
				<h1> NotePad </h1>
			</div>
		</div>
		<%= react_component("NotesViewTable", {activeTopic: @activeTopic, allTopics: @topics, results: @submissionsArray}) %>
	</div>
	<div class="calendar-module">
		<div class="row">
			<div class="col-xs-12">
				<h1> Calendar </h1>
			</div>
		</div>
		<%= react_component("CalendarView") %>
	</div>
</div>