<div id="main-container" class="container">
	<div class="row">
		<h1 class="text-center"> Global Module Settings </h1>
		<%= react_component("RedditSettingsModule", {subreddits: @subreddits}) %>
		<div class="col-xs-6">
		</div>
		<div class='col-xs-6'>
			<%= react_component("CalendarSettingsModule", {events: @events}) %>
	    </div>
	</div>
</div>
