// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	word-break: break-all;
}

.active-entry-text {
	white-space: pre-wrap;
}

.module-table-row, .topic-list-items {
	cursor: pointer;
}

.btn {
	margin-right: 5px;
}

.notes-btn, .new-entry-title, .dropdown {
	margin-bottom: 10px;
}

.reddit-module, .notes-module {
	margin-bottom: 60px;
}

.view-box {
	margin-bottom: 20px;
}

.fc-title, .fc-content, .fc-h-event, .fc-time, .fc-event-container {
	color: white;

	&:hover {
		cursor: default;
	}
}

#calendar {
	margin-bottom: 40px;
}
