// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
	margin-right: 5px;
}

.notes-btn {
	margin-bottom: 10px;
}

.reddit-module, .notes-module {
	margin-bottom: 60px;
}